{% extends 'bookstore/main.html' %} {% block content %}
<h1>Dashboard</h1>
<div class="row">
    <div class="col-sm">Total Orders: <span class="badge bg-primary">{{ total_orders }}</span></div>
    <div class="col-sm">Pending Orders: <span class="badge bg-danger">{{ pending_orders }}</span></div>
    <div class="col-sm">Delivered Orders: <span class="badge bg-success">{{ delivered_orders }}</span></div>
    <div class="col-sm">In Progress Orders: <span class="badge bg-warning">{{ inprogress_orders }}</span></div>
    <div class="col-sm">Out of order Orders: <span class="badge bg-dark">{{ out_orders }}</span></div>
</div>
<div class="row pt-5">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Customers</h5>
                <h6 class="card-subtitle mb-2 text-muted"><a href="#" class="btn btn-primary"><i class="fas fa-add"></i> Create</a></h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Age</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.age }}</td>
                            <td>
                                <a href="{% url 'customer' customer.id %}" class="text-dark"><i class="fas fa-eye"></i></a>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Orders</h5>
                <h6 class="card-subtitle mb-2 text-muted"><a href="#" class="btn btn-primary"><i class="fas fa-add"></i> Create</a></h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Book</th>
                            <th scope="col">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.customer }}</td>
                            <td>{{ order.book }}</td>
                            <td>{{ order.status }}</td>
                            <td>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#" class="text-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}